/* #region ---------------*-----------------------*/   
    html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
        
    * {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}
/* #endregion-------------------------------------*/
/*#region-----------Body----------------------*/
    body {
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
    }



/*#endregion----------------------------------*/



